################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
/.vs/MicroServiceMgmt.slnx/FileContentIndex
/.vs/MicroServiceMgmt.slnx/v18/.suo

# Build results
[Bb]in/
[Oo]bj/
/UserMgmt.UI/UserMgmt.UI.esproj.user
/MicroServiceMgmt.slnLaunch.user
/UserService.API/wwwroot/uploads/photos
