USE [master]
GO
/****** Object:  Database [MS_AuditLog]    Script Date: 06/05/2026 13:38:07 ******/
CREATE DATABASE [MS_AuditLog]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MS_AuditLog', FILENAME = N'C:\Users\2483869\MS_AuditLog.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MS_AuditLog_log', FILENAME = N'C:\Users\2483869\MS_AuditLog_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MS_AuditLog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MS_AuditLog]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 06/05/2026 13:38:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[UserEmail] [nvarchar](200) NULL,
	[Action] [nvarchar](200) NOT NULL,
	[ServiceName] [nvarchar](100) NOT NULL,
	[IsError] [bit] NOT NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT ((0)) FOR [IsError]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
USE [master]
GO
